{% extends "user/homepage.html" %}

{% block header %}
{% endblock %}

{% block slideshow %}
{% endblock %}

{% block content %}
<center>

    <form method="post">
        <table class="table table-bordered" style="width: 50%;">
            <tr>
                <td>Card No</td>
                <td><input type="text" name="cardno" class="form-control" required></td>
            </tr>
            <tr>
                <td>CVV</td>
                <td><input type="text" name="cvv" class="form-control" required></td>
            </tr>
            <tr>
                <td>Expiry</td>
                <td><input type="text" name="expiry" class="form-control" required></td>
            </tr>
            <tr>
                <td>Amount</td>
                <td><input type="text" name="amount" class="form-control" value="{{total}}" readonly></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <input type="submit" value="Make Payment" class="btn btn-success">
                </td>
            </tr>
        </table>
    </form>
</center>
{% endblock %}